<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>xyz generics</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">XYZ GENERICS</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav ml-auto">
            <% if(!currentUser){ %>
              <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
              <li class="nav-item"><a class="nav-link" href="/register">Sign Up</a></li>
            <% } else { %>
              <li class="nav-item"><a class="nav-link" href="#">Logged is as <%= currentUser.username %></a></li>
              <liclass="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
            <% } %>
          </ul>
        </div>
      </div>
    </nav>
